<!-- Page -->
<div class="page animsition">

    <div class="page-header">
        <h1 class="page-title">
            Conference
        </h1>
    </div>
    <div class="page-content container-fluid">
        <!-- Panel -->
        <div class="panel">
            <div class="panel-body">
                <!-- Example Responsive -->
                <div class="example-wrap">
                    <div class="btn-group" aria-label="Button group with nested dropdown" role="group">
                        <button type="button" class="btn btn-outline btn-default" id="add-room">
                            Add Room
                        </button>
                    </div>
                    <!--
                    <h4 class="example-title">Basic</h4>
                    -->
                    <!-- Table -->
                    <div class="example table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Room Extension</th>
                                <th>Room PIN</th>
                                <th>Admin PIN</th>
                                <th>Mode</th>
                                <th>Participants</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>

                            <%
                            if(coData && coData.rooms) {
                            coData.rooms.forEach(function(data, key) {
                            %>

                            <tr>
                                <td><%=(key+1)%></td>
                                <td><%=data.room_extension %></td>
                                <td><%=data.room_pin %></td>
                                <td><%=data.admin_pin %></td>
                                <td><%=data.mode %></td>
                                <td><%=data.participants %></td>
                                <td>
                                    <% if(data.status=='online'){ %>
                                    <span class="label label-primary">Online</span>
                                    <% } %>
                                    <% if(data.status=='offline'){ %>
                                    <span class="label label-danger">offline</span>
                                    <% } %>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-icon btn-flat btn-default"
                                            data-toggle="tooltip" data-original-title="Delete" title="Lock Room">
                                        <i class="icon wb-lock" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-icon btn-flat btn-default"
                                            data-toggle="tooltip" data-original-title="Delete" title="Mute Room">
                                        <i class="icon wb-volume-off" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-icon btn-flat btn-default"
                                            data-toggle="tooltip" data-original-title="Delete" title="Record Room">
                                        <i class="icon wb-order" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-icon btn-flat btn-default"
                                            data-toggle="tooltip" data-original-title="Delete" title="Invite Member">
                                        <i class="icon wb-user-add" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-icon btn-flat btn-default"
                                            data-toggle="tooltip" data-original-title="Edit" title="Edit Room">
                                        <i class="icon wb-wrench" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-icon btn-flat btn-default"
                                            data-toggle="tooltip" data-original-title="Delete" title="Delete Room">
                                        <i class="icon wb-close" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>

                            <%
                            });
                            }
                            %>

                            </tbody>
                            <tfoot>
                            <%
                            var colsPanNumber = 8;

                            var page_count = 1;    //总页数
                            var page_current = 1;   //当前页
                            var page_start = 1;     //起始页
                            var page_sum = 5;       //显示总页
                            if((page_current+5-1) < page_count) {
                            page_sum = page_sum+page_current-1;
                            page_start = page_current;
                            }else{
                            page_sum = page_count;
                            if(page_count>5){
                            page_start = page_count - 5;
                            }else{
                            page_start = page_count;
                            }
                            }

                            %>


                            <% include ../../page.html%>
                            </tfoot>
                        </table>

                    </div>

                </div>
                <!-- End Example Responsive -->
            </div>
        </div>
        <!-- End Panel -->
    </div>
</div>
<!-- End Page -->