<!-- Page -->
<div class="page animsition">

  <div class="page-header">
    <h1 class="page-title">
      SIP Domain and Transport
    </h1>
  </div>
  <div class="page-content container-fluid">
    <div class="row">
      <!-- left Table Begin -->
      <div class="col-lg-6 col-sm-6">
        <!-- Example Bordered Table -->
        <div class="panel">
          <div class="panel-body">
            <div class="example-wrap">
              <h4>SIP Domin</h4>

              <p>
                describe...
              </p>

              <div class="form-group my-form-group">
                <div class="col-sm-8 padding-left-0">
                    <input type="text" class="form-control" placeholder="domain" autocomplete="off" data-mark="default"
                           id="dat-domain" disabled="disabled" value="<%=trimValue(data.dData, ['domain'])%>">
                </div>
                <div class="col-sm-4">
                 <div class="col-sm-6">
                   <button type="button" class="btn btn-default btn-primary btn-outline" id="dat-domain-btn">
                     Edit
                   </button>
                   <button type="button" class="btn btn-default btn-primary btn-outline hide" id="dat-domain-btn-cancel"
                           data-value="<%=trimValue(data.dData, ['domain'])%>">
                     Cancel
                   </button>
                 </div>
                 <div class="col-sm-6">
                   <button type="button" class="btn btn-default btn-primary btn-outline hide" id="dat-domain-btn-apply">
                     Apply
                   </button>
                 </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- left Table END -->
      <!-- right Table Begin -->
      <div class="col-lg-6 col-sm-6">
        <!-- Example Bordered Table -->
        <div class="panel">
          <div class="panel-body">
            <div class="example-wrap">
              <h4>Transports</h4>

              <p>
                describe...
              </p>

              <p>

              </p>

              <div class="form-inline padding-bottom-15">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <button id="testLogBut" class="btn btn-outline btn-primary btn-sm">
                        <i class="icon wb-plus" aria-hidden="true"></i>
                        Add Transport
                      </button>
                    </div>
                  </div>
                </div>
                <div class="example table-responsive">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th>Protocol</th>
                      <th>Port</th>
                      <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% if(data && data.tData && data.tData.transports) { %>
                    <% data.tData.transports.forEach(function(data,key) { %>

                    <tr>
                      <td><%=data.protocol %></td>
                      <td><%=data.port %></td>
                      <td>
                        <button type="button" class="btn btn-sm btn-icon btn-flat btn-default"
                                data-toggle="tooltip" data-original-title="Delete" name="t-btn-delete"
                                data-protocol="<%=data.protocol%>" data-port="<%=data.port%>">
                          <i class="icon wb-close" aria-hidden="true"></i>
                        </button>
                      </td>
                    </tr>

                    <% }); %>
                    <% } %>


                    </tbody>

                  </table>
                </div>
              </div>


            </div>
          </div>
        </div>
        <!-- End Example Bordered Table -->
      </div>
      <!-- right Table END -->
    </div>
  </div>
</div>
<!-- End Page -->