<!DOCTYPE html>
<html class="no-js css-menubar" lang="ch">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap admin template">
    <meta name="author" content="">

    <title>Login V3 | Remark Admin Template</title>


    <link rel="shortcut icon" href="./images/favicon.ico">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-extend.min.css">
    <link rel="stylesheet" href="/stylesheets/site.min.css">

    <!-- Plugins -->
    <link rel="stylesheet" href="/stylesheets/vendor/animsition/animsition.min.css">
    <link rel="stylesheet" href="/stylesheets/vendor/asscrollable/asScrollable.min.css">
    <link rel="stylesheet" href="/stylesheets/vendor/switchery/switchery.min.css">
    <link rel="stylesheet" href="/stylesheets/vendor/intro-js/introjs.min.css">
    <link rel="stylesheet" href="/stylesheets/vendor/slidepanel/slidePanel.min.css">
    <link rel="stylesheet" href="/stylesheets/vendor/flag-icon-css/flag-icon.min.css">

    <!-- Plugins For This Page -->
    <link rel="stylesheet" href="/stylesheets/vendor/toastr/toastr.min.css">

    <link rel="stylesheet" href="/stylesheets/vendor/chartist-js/chartist.min.css">
    <link rel="stylesheet" href="/stylesheets/vendor/aspieprogress/asPieProgress.min.css">
    <link rel="stylesheet" href="/stylesheets/vendor/bootstrap-select/bootstrap-select.css">
    <link rel="stylesheet" href="/stylesheets/vendor/timepicker/jquery-timepicker.min.css">
    <link rel="stylesheet" href="/stylesheets/vendor/datetimepicker/bootstrap-datetimepicker.css">

    <!-- Page -->
    <link rel="stylesheet" href="/stylesheets/dashboard/v2.min.css">
    <link rel="stylesheet" href="/stylesheets/dashboard/profile.css">
    <link rel="stylesheet" href="/stylesheets/uikit/icon.css">
    <link rel="stylesheet" href="/stylesheets/advanced.min.css">

    <link rel="stylesheet" href="/stylesheets/main/top.css">
    <link rel="stylesheet" href="/stylesheets/main/main.css">

    <!-- Fonts -->
    <link rel="stylesheet" href="/stylesheets/fonts/web-icons/web-icons.min.css">
    <link rel="stylesheet" href="/stylesheets/fonts/brand-icons/brand-icons.min.css">
    <link rel='stylesheet' href='/stylesheets/fonts.css'>

    <!--[if lt IE 9]>
    <script src="/stylesheets/vendor/html5shiv/html5shiv.min.js"></script>
    <![endif]-->

    <!--[if lt IE 10]>
    <script src="/stylesheets/vendor/media-match/media.match.min.js"></script>
    <script src="/stylesheets/vendor/respond/respond.min.js"></script>
    <![endif]-->

    <!-- Scripts -->
    <script src="/javascripts/vendor/modernizr/modernizr.min.js"></script>
    <script src="/javascripts/vendor/breakpoints/breakpoints.min.js"></script>
    <script>
        Breakpoints();
    </script>
</head>
<body class="page-profile">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->


<!-- 加载顶部菜单 BEGIN -->

<% include solomon/top.html %>

<!-- 加载顶部菜单 END -->


<!-- 加载左侧菜单 BEGIN -->

<% include solomon/left.html %>

<!-- 加载左侧菜单 END -->

<!-- 加载内容 BEGIN -->
<div class="my-page" id="content-box">
    <!--<div class="page animsition">-->
        <!--<div class="page-header">-->
            <!--<h1>aaaa</h1>-->
        <!--</div>-->
        <!--<div class="page-content container-fluid">-->
            <!--&lt;!&ndash; Panel &ndash;&gt;-->
            <!--<div class="panel">-->
                <!--<h1>bbbb</h1>-->
                <!--<h1>bbbb</h1>-->
                <!--<h1>bbbb</h1>-->
                <!--<h1>bbbb</h1>-->
                <!--<h1>bbbb</h1>-->
                <!--<h1>bbbb</h1>-->
                <!--<h1>bbbb</h1>-->
                <!--<h1>bbbb</h1>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->
</div>

<!-- 加载内容 END -->


<!-- 加载底部内容 BEGIN -->
<% include solomon/footer.html %>
<!-- 加载底部内容 END -->


<!-- Core  -->
<script src="/javascripts/vendor/jquery/jquery.min.js"></script>
<script src="/javascripts/vendor/jquery/jquery.cookie.js"></script>

<script src="/javascripts/vendor/bootstrap/bootstrap.min.js"></script>
<script src="/javascripts/vendor/animsition/jquery.animsition.js"></script>
<script src="/javascripts/vendor/asscroll/jquery-asScroll.min.js"></script>
<script src="/javascripts/vendor/mousewheel/jquery.mousewheel.min.js"></script>
<script src="/javascripts/vendor/asscrollable/jquery.asScrollable.all.min.js"></script>
<script src="/javascripts/vendor/ashoverscroll/jquery-asHoverScroll.min.js"></script>

<!-- Plugins -->
<script src="/javascripts/vendor/switchery/switchery.min.js"></script>
<script src="/javascripts/vendor/intro-js/intro.min.js"></script>
<script src="/javascripts/vendor/screenfull/screenfull.js"></script>
<script src="/javascripts/vendor/slidepanel/jquery-slidePanel.min.js"></script>
<script src="/javascripts/vendor/datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script src="/javascripts/plugins/immutable.min.js"></script>

<!-- Plugins For This Page -->
<script src="/javascripts/vendor/jquery-placeholder/jquery.placeholder.min.js"></script>
<script src="/javascripts/vendor/toastr/toastr.min.js"></script>
<script src="/javascripts/vendor/bootstrap-select/bootstrap-select.min.js"></script>
<script src="/javascripts/vendor/timepicker/jquery.timepicker.min.js"></script>

<script src="/javascripts/vendor/chartist-js/chartist.min.js"></script>
<!--<script src="../../assets/vendor/gmaps/gmaps.js"></script>-->
<script src="/javascripts/vendor/matchheight/jquery.matchHeight-min.js"></script>

<!-- Scripts -->
<script src="/javascripts/core.min.js"></script>
<script src="/javascripts/site.min.js"></script>

<script src="/javascripts/sections/menu.js"></script>
<script src="/javascripts/sections/menubar.js"></script>
<script src="/javascripts/sections/gridmenu.js"></script>
<script src="/javascripts/sections/sidebar.js"></script>

<script src="/javascripts/configs/config-colors.js"></script>
<script src="/javascripts/configs/config-tour.js"></script>

<script src="/javascripts/components/asscrollable.js"></script>
<!--<script src="/javascripts/components/animsition.js"></script>-->
<script src="/javascripts/components/slidepanel.js"></script>
<script src="/javascripts/components/switchery.js"></script>

<!-- Scripts For This Page -->
<script src="/javascripts/components/jquery-placeholder.js"></script>
<script src="/javascripts/components/material.js"></script>
<script src="/javascripts/components/bootstrap-select.js"></script>
<script src="/javascripts/vendor/chart/Chart.min.js"></script>


<script src="/javascripts/components/matchheight.js"></script>
<script src="/javascripts/v2.js"></script>


<script src="/javascripts/solomon/main.js"></script>
<script src="/javascripts/solomon/top.js"></script>


<!-- Scripts For This Page -->


<script>
    (function (document, window, $) {
        'use strict';

        var Site = window.Site;
        $(document).ready(function () {
            Site.run();
        });
    })(document, window, jQuery);
</script>

</body>

</html>