<!-- Page -->
<div class="page animsition">

    <div class="page-header">
        <h1 class="page-title">
            Call Manager
        </h1>
    </div>
    <div class="page-content container-fluid">
        <div class="row">
            <div class="col-md-12 padding-0">
                <div class="col-md-6">
                    <div class="widget widget-shadow" style="height:150px">
                        <div class="widget-content padding-10">
                            <h3 class="margin-0">Wizard</h3>
                            <h5 class="padding-left-20"><a href="#">Feb 20, 2016: PortSIP released the PortSIP PBX v2.0.</a></h5>
                            <h5 class="padding-left-20"><a href="#">Feb 22, 2016: PortSIP released the PortSIP WebRTC Gateway.</a></h5>
                            <h5 class="padding-left-20"><a href="#">Feb 22, 2016: PortSIP released the PortSIP VoIP SDK v12.</a></h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="widget widget-shadow" style="height:150px">
                        <div class="widget-content padding-10">
                            <h3 class="margin-0">SIP Domain</h3>
                            <h5 class="padding-left-20">Version : <span>2.0.0</span></h5>
                            <h5 class="padding-left-20">License : <span>200 SC Edition</span></h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 padding-0">
                <div class="col-md-6">
                    <div class="widget widget-shadow" style="height:150px">
                        <div class="widget-content padding-10">
                            <h3 class="margin-0">DNS Server</h3>
                            <h5 class="padding-left-20">Primary DNS server: <span>8.8.8.8</span></h5>
                            <h5 class="padding-left-20">Secondary DNS Server: <span>6.66.120.189</span></h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="widget widget-shadow" style="height:150px">
                        <div class="widget-content padding-10">
                            <h3 class="margin-0">Transports</h3>
                            <h5 class="padding-left-20">UDP: <span>5060</span></h5>
                            <h5 class="padding-left-20">TCP: <span>5061</span></h5>
                            <h5 class="padding-left-20">WS: <span>5062</span></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 padding-0">
                <div class="col-md-6">
                    <div class="widget widget-shadow" style="height:150px">
                        <div class="widget-content padding-10">
                            <h3 class="margin-0">IP</h3>
                            <h5 class="padding-left-20">Local IP: <span>192.168.0.28</span></h5>
                            <h5 class="padding-left-20">Public IP: <span>222.66.3.67</span></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page -->