<!-- Page -->
<div class="page animsition">

    <div class="page-header">
        <h1 class="page-title">
            Recordings Management
        </h1>
    </div>
    <div class="page-content container-fluid">
        <!-- Panel -->
        <div class="panel">
            <div class="panel-body">
                <!-- Example Responsive -->
                <div class="example-wrap">
                    <div class="btn-group" aria-label="Button group with nested dropdown" role="group">
                        <button type="button" class="btn btn-outline btn-default">
                            Download
                        </button>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="list-unstyled list-inline padding-0 margin-0">
                                <li>
                                    <div class="checkbox-custom checkbox-default">
                                        <input type="checkbox">
                                        <label></label>
                                    </div>
                                </li>
                                <li>
                                    <p>Filter by ID</p>
                                </li>
                                <li>
                                    <input type="text" class="form-control" placeholder="ID"
                                           autocomplete="off">
                                </li>
                                <li>
                                    <select class="bs-select-hidden" data-role="select">
                                        <option value="0">Caller ID</option>
                                        <option value="0">001</option>
                                        <option value="0">002</option>
                                        <option value="0">003</option>
                                    </select>
                                </li>
                            </ul>
                            <ul class="list-unstyled list-inline padding-0 margin-0">
                                <li>
                                    <div class="checkbox-custom checkbox-default">
                                        <input type="checkbox">
                                        <label></label>
                                    </div>
                                </li>
                                <li>
                                    <p>Filter by Date</p>
                                </li>
                                <li>
                                    <p>From : </p>
                                </li>
                                <li>
                                    <input type="text" class="form-control" data-role="datetime">
                                </li>
                                <li>
                                    <p>To : </p>
                                </li>
                                <li>
                                    <input type="text" class="form-control" data-role="datetime">
                                </li>
                                <li>
                                    <button type="button" class="btn btn-outline btn-default">
                                        Apply
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--
                    <h4 class="example-title">Basic</h4>
                    -->
                    <!-- Table -->
                    <div class="example table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>
                                    <div class="checkbox-custom checkbox-default">
                                        <input type="checkbox">
                                        <label></label>
                                    </div>
                                </th>
                                <th>#</th>
                                <th>Extension</th>
                                <th>Date</th>
                                <th>File Name</th>
                                <th>Size(MB)</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>

                            <%
                            if(rmData && rmData.records) {
                            rmData.records.forEach(function(data, key) {
                            %>
                            <tr>
                                <td>
                                    <div class="checkbox-custom checkbox-default">
                                        <input type="checkbox">
                                        <label></label>
                                    </div>
                                </td>
                                <td><%=(key+1) %></td>
                                <td><%=data.extension_number %></td>
                                <td><%=data.date %></td>
                                <td><%=data.file_name %></td>
                                <td><%=data.size %></td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-icon btn-flat btn-default"
                                            data-toggle="tooltip" data-original-title="Delete">
                                        <i class="icon wb-close" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                            <%
                            });
                            }
                            %>

                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="7" class="footable-visible">
                                    <div class="text-right">
                                        <ul class="pagination">
                                            <li class="footable-page-arrow disabled"><a data-page="first" href="#first">«</a>
                                            </li>
                                            <li class="footable-page-arrow disabled"><a data-page="prev"
                                                                                        href="#prev">‹</a></li>
                                            <li class="footable-page active"><a data-page="0" href="#">1</a></li>
                                            <li class="footable-page"><a data-page="1" href="#">2</a></li>
                                            <li class="footable-page"><a data-page="2" href="#">3</a></li>
                                            <li class="footable-page"><a data-page="3" href="#">4</a></li>
                                            <li class="footable-page"><a data-page="4" href="#">5</a></li>
                                            <li class="footable-page-arrow"><a data-page="next" href="#next">›</a></li>
                                            <li class="footable-page-arrow"><a data-page="last" href="#last">»</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>

                    </div>

                </div>
                <!-- End Example Responsive -->
            </div>
        </div>
        <!-- End Panel -->
    </div>
</div>
<!-- End Page -->