<!-- Page -->
<div class="page animsition">

  <div class="page-header">
    <ol class="breadcrumb">
      <li><a href="javascript:void(0)" data-return="vr">Media Server</a></li>
      <li class="active"><%=type=='add'?'Add':type=='update'?'Update':''%> Virtual Receptionist</li>
    </ol>

  </div>
  <div class="page-content">

    <div class="row">
      <div class="col-sm-8 my-setting-box">
        <div class="panel">

          <div class="panel-heading">
            <h3 class="panel-title">
              The Virtual Receptionist answers and directs calls automaticlly.
            </h3>
          </div>

          <div class="panel-body container-fluid">
            <div class="example padding-left-20">
              <form class="form-horizontal" name="form-transports-add">
                <h5>
                  General
                </h5>

                <div class="form-group my-form-group">
                  <label class="col-sm-4 control-label">
                    Extension Number
                  </label>

                  <div class="col-sm-8 padding-left-0">
                    <div class="col-sm-8">
                      <input type="text" class="form-control" placeholder="Extension Number" autocomplete="off"
                             data-mark="default" id="vr-number" value="<%=trimValue(data.vrData, ['vr_number'])%>"/>
                    </div>
                  </div>
                </div>

                <div class="form-group my-form-group">
                  <label class="col-sm-4 control-label">
                    Name
                  </label>

                  <div class="col-sm-8 padding-left-0">
                    <div class="col-sm-8">
                      <input type="text" class="form-control" placeholder="Name" autocomplete="off"
                             data-mark="default" id="vr-name" value="<%=trimValue(data.vrData, ['name'])%>"/>
                    </div>
                  </div>
                </div>
                <div class="form-group my-form-group">
                  <label class="col-sm-4 control-label">
                    Prompt
                  </label>

                  <div class="col-sm-8 padding-left-0">
                    <div class="col-sm-8">
                      <div class="input-group input-group-file" >
                        <input type="text" class="form-control" readonly=""
                               data-mark="default" id="vr-prompt" value="<%=trimValue(data.vrData, ['prompt'])%>" />
                        <span class="input-group-btn">
                          <span class="btn btn-outline btn-file">
                            <i class="icon wb-upload" aria-hidden="true"></i>
                            <input type="file" multiple="">
                          </span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                <h5>Menu Options</h5>

                <div class="form-group my-form-group">
                  <label class="col-sm-1 control-label"></label>

                  <div class="col-sm-10 padding-left-0">
                    <div class="col-sm-2 ">
                      <p class="text-center">
                        Key
                      </p>
                    </div>
                    <div class="col-sm-5 ">
                      <p class="text-center">
                        Action
                      </p>
                    </div>
                    <div class="col-sm-5 ">
                      <p class="text-center">
                        Extension Number
                      </p>
                    </div>
                  </div>
                </div>

                <div class="form-group my-form-group">
                  <label class="col-sm-1 control-label"></label>

                  <div class="col-sm-10 padding-left-0">
                    <div class="col-sm-2 ">
                      <label class="col-sm-12 control-label">
                        0
                      </label>
                    </div>
                    <div class="col-sm-5 ">
                      <select class="bs-select-hidden" data-role="select" data-value-id="key0-value-box" id="vr-key0"
                              data-mark="default" >
                        <option value="1" data-model-id="#">End Call</option>
                        <option value="2" data-model-id="#vr-model-extension">Connect to Extension</option>
                        <option value="3" data-model-id="#vr-model-ring-group">Connect to Ring Group</option>
                        <option value="4" data-model-id="#vr-model-call-queue">Connect to Queue</option>
                        <option value="5" data-model-id="#vr-model-virtual-receptionist">Connect to Virtual receptionist</option>
                        <option value="6" data-model-id="#">Transefer to Voice Mail</option>
                        <option value="7" data-model-id="#">Repeat Prompt</option>
                      </select>
                    </div>
                    <div class="col-sm-5">
                      <div class="input-group input-group-file" id="key0-value-box" name="model-1" >
                        <input type="text" class="form-control" readonly="" id="vr-key0-value" data-mark="default" />
                        <span class="input-group-btn" data-target="#" data-toggle="modal">
                          <span class="btn btn-outline btn-file">
                            <i class="icon wb-search" aria-hidden="true"></i>
                          </span>
                        </span>
                      </div>
                    </div>

                  </div>
                </div>
                <% include modelExtension.html %>
                <% include modelRingGroup.html %>
                <% include modelCallQueue.html %>
                <% include modelVirtualReceptionist.html %>

                <div class="form-group my-form-group">
                  <label class="col-sm-1 control-label"></label>

                  <div class="col-sm-10 padding-left-0">
                    <div class="col-sm-2 ">
                      <label class="col-sm-12 control-label">
                        1
                      </label>
                    </div>
                    <div class="col-sm-5 ">
                      <select class="bs-select-hidden" data-role="select" data-value-id="key1-value-box" id="vr-key1"
                              data-mark="default" >
                        <option value="1" data-model-id="#">End Call</option>
                        <option value="2" data-model-id="#vr-model-extension">Connect to Extension</option>
                        <option value="3" data-model-id="#vr-model-ring-group">Connect to Ring Group</option>
                        <option value="4" data-model-id="#vr-model-call-queue">Connect to Queue</option>
                        <option value="5" data-model-id="#vr-model-virtual-receptionist">Connect to Virtual receptionist</option>
                        <option value="6" data-model-id="#">Transefer to Voice Mail</option>
                        <option value="7" data-model-id="#">Repeat Prompt</option>
                      </select>
                    </div>
                    <div class="col-sm-5">
                      <div class="input-group input-group-file" id="key1-value-box" name="model-1" >
                        <input type="text" class="form-control" readonly="" id="vr-key1-value" data-mark="default" />
                        <span class="input-group-btn" data-target="#" data-toggle="modal">
                          <span class="btn btn-outline btn-file">
                            <i class="icon wb-search" aria-hidden="true"></i>
                          </span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group my-form-group">
                  <label class="col-sm-1 control-label"></label>

                  <div class="col-sm-10 padding-left-0">
                    <div class="col-sm-2 ">
                      <label class="col-sm-12 control-label">
                        2
                      </label>
                    </div>
                    <div class="col-sm-5 ">
                      <select class="bs-select-hidden" data-role="select" data-value-id="key2-value-box" id="vr-key2"
                              data-mark="default" >
                        <option value="1" data-model-id="#">End Call</option>
                        <option value="2" data-model-id="#vr-model-extension">Connect to Extension</option>
                        <option value="3" data-model-id="#vr-model-ring-group">Connect to Ring Group</option>
                        <option value="4" data-model-id="#vr-model-call-queue">Connect to Queue</option>
                        <option value="5" data-model-id="#vr-model-virtual-receptionist">Connect to Virtual receptionist</option>
                        <option value="6" data-model-id="#">Transefer to Voice Mail</option>
                        <option value="7" data-model-id="#">Repeat Prompt</option>
                      </select>
                    </div>
                    <div class="col-sm-5">
                      <div class="input-group input-group-file" id="key2-value-box" name="model-1" >
                        <input type="text" class="form-control" readonly="" id="vr-key2-value" data-mark="default" />
                        <span class="input-group-btn" data-target="#" data-toggle="modal">
                          <span class="btn btn-outline btn-file">
                            <i class="icon wb-search" aria-hidden="true"></i>
                          </span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group my-form-group">
                  <label class="col-sm-1 control-label"></label>

                  <div class="col-sm-10 padding-left-0">
                    <div class="col-sm-2 ">
                      <label class="col-sm-12 control-label">
                        3
                      </label>
                    </div>
                    <div class="col-sm-5 ">
                      <select class="bs-select-hidden" data-role="select" data-value-id="key3-value-box" id="vr-key3"
                              data-mark="default" >
                        <option value="1" data-model-id="#">End Call</option>
                        <option value="2" data-model-id="#vr-model-extension">Connect to Extension</option>
                        <option value="3" data-model-id="#vr-model-ring-group">Connect to Ring Group</option>
                        <option value="4" data-model-id="#vr-model-call-queue">Connect to Queue</option>
                        <option value="5" data-model-id="#vr-model-virtual-receptionist">Connect to Virtual receptionist</option>
                        <option value="6" data-model-id="#">Transefer to Voice Mail</option>
                        <option value="7" data-model-id="#">Repeat Prompt</option>
                      </select>
                    </div>
                    <div class="col-sm-5">
                      <div class="input-group input-group-file" id="key3-value-box" name="model-1" >
                        <input type="text" class="form-control" readonly="" id="vr-key3-value" data-mark="default" />
                        <span class="input-group-btn" data-target="#" data-toggle="modal">
                          <span class="btn btn-outline btn-file">
                            <i class="icon wb-search" aria-hidden="true"></i>
                          </span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group my-form-group">
                  <label class="col-sm-1 control-label"></label>

                  <div class="col-sm-10 padding-left-0">
                    <div class="col-sm-2 ">
                      <label class="col-sm-12 control-label">
                        4
                      </label>
                    </div>
                    <div class="col-sm-5 ">
                      <select class="bs-select-hidden" data-role="select" data-value-id="key4-value-box" id="vr-key4"
                              data-mark="default" >
                        <option value="1" data-model-id="#">End Call</option>
                        <option value="2" data-model-id="#vr-model-extension">Connect to Extension</option>
                        <option value="3" data-model-id="#vr-model-ring-group">Connect to Ring Group</option>
                        <option value="4" data-model-id="#vr-model-call-queue">Connect to Queue</option>
                        <option value="5" data-model-id="#vr-model-virtual-receptionist">Connect to Virtual receptionist</option>
                        <option value="6" data-model-id="#">Transefer to Voice Mail</option>
                        <option value="7" data-model-id="#">Repeat Prompt</option>
                      </select>
                    </div>
                    <div class="col-sm-5">
                      <div class="input-group input-group-file" id="key4-value-box" name="model-1" >
                        <input type="text" class="form-control" readonly="" id="vr-key4-value" data-mark="default" />
                        <span class="input-group-btn" data-target="#" data-toggle="modal">
                          <span class="btn btn-outline btn-file">
                            <i class="icon wb-search" aria-hidden="true"></i>
                          </span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group my-form-group">
                  <label class="col-sm-1 control-label"></label>

                  <div class="col-sm-10 padding-left-0">
                    <div class="col-sm-2 ">
                      <label class="col-sm-12 control-label">
                        5
                      </label>
                    </div>
                    <div class="col-sm-5 ">
                      <select class="bs-select-hidden" data-role="select" data-value-id="key5-value-box" id="vr-key5"
                              data-mark="default" >
                        <option value="1" data-model-id="#">End Call</option>
                        <option value="2" data-model-id="#vr-model-extension">Connect to Extension</option>
                        <option value="3" data-model-id="#vr-model-ring-group">Connect to Ring Group</option>
                        <option value="4" data-model-id="#vr-model-call-queue">Connect to Queue</option>
                        <option value="5" data-model-id="#vr-model-virtual-receptionist">Connect to Virtual receptionist</option>
                        <option value="6" data-model-id="#">Transefer to Voice Mail</option>
                        <option value="7" data-model-id="#">Repeat Prompt</option>
                      </select>
                    </div>
                    <div class="col-sm-5">
                      <div class="input-group input-group-file" id="key5-value-box" name="model-1" >
                        <input type="text" class="form-control" readonly="" id="vr-key5-value" data-mark="default" />
                        <span class="input-group-btn" data-target="#" data-toggle="modal">
                          <span class="btn btn-outline btn-file">
                            <i class="icon wb-search" aria-hidden="true"></i>
                          </span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group my-form-group">
                  <label class="col-sm-1 control-label"></label>

                  <div class="col-sm-10 padding-left-0">
                    <div class="col-sm-2 ">
                      <label class="col-sm-12 control-label">
                        6
                      </label>
                    </div>
                    <div class="col-sm-5 ">
                      <select class="bs-select-hidden" data-role="select" data-value-id="key6-value-box" id="vr-key6"
                              data-mark="default" >
                        <option value="1" data-model-id="#">End Call</option>
                        <option value="2" data-model-id="#vr-model-extension">Connect to Extension</option>
                        <option value="3" data-model-id="#vr-model-ring-group">Connect to Ring Group</option>
                        <option value="4" data-model-id="#vr-model-call-queue">Connect to Queue</option>
                        <option value="5" data-model-id="#vr-model-virtual-receptionist">Connect to Virtual receptionist</option>
                        <option value="6" data-model-id="#">Transefer to Voice Mail</option>
                        <option value="7" data-model-id="#">Repeat Prompt</option>
                      </select>
                    </div>
                    <div class="col-sm-5">
                      <div class="input-group input-group-file" id="key6-value-box" name="model-1" >
                        <input type="text" class="form-control" readonly="" id="vr-key6-value" data-mark="default" />
                        <span class="input-group-btn" data-target="#" data-toggle="modal">
                          <span class="btn btn-outline btn-file">
                            <i class="icon wb-search" aria-hidden="true"></i>
                          </span>
                        </span>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="form-group my-form-group">
                  <label class="col-sm-1 control-label"></label>

                  <div class="col-sm-10 padding-left-0">
                    <div class="col-sm-2 ">
                      <label class="col-sm-12 control-label">
                        7
                      </label>
                    </div>
                    <div class="col-sm-5 ">
                      <select class="bs-select-hidden" data-role="select" data-value-id="key7-value-box" id="vr-key7"
                              data-mark="default" >
                        <option value="1" data-model-id="#">End Call</option>
                        <option value="2" data-model-id="#vr-model-extension">Connect to Extension</option>
                        <option value="3" data-model-id="#vr-model-ring-group">Connect to Ring Group</option>
                        <option value="4" data-model-id="#vr-model-call-queue">Connect to Queue</option>
                        <option value="5" data-model-id="#vr-model-virtual-receptionist">Connect to Virtual receptionist</option>
                        <option value="6" data-model-id="#">Transefer to Voice Mail</option>
                        <option value="7" data-model-id="#">Repeat Prompt</option>
                      </select>
                    </div>
                    <div class="col-sm-5">
                      <div class="input-group input-group-file" id="key7-value-box" name="model-1" >
                        <input type="text" class="form-control" readonly="" id="vr-key7-value" data-mark="default" />
                        <span class="input-group-btn" data-target="#" data-toggle="modal">
                          <span class="btn btn-outline btn-file">
                            <i class="icon wb-search" aria-hidden="true"></i>
                          </span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group my-form-group">
                  <label class="col-sm-1 control-label"></label>

                  <div class="col-sm-10 padding-left-0">
                    <div class="col-sm-2 ">
                      <label class="col-sm-12 control-label">
                        8
                      </label>
                    </div>
                    <div class="col-sm-5 ">
                      <select class="bs-select-hidden" data-role="select" data-value-id="key8-value-box" id="vr-key8"
                              data-mark="default" >
                        <option value="1" data-model-id="#">End Call</option>
                        <option value="2" data-model-id="#vr-model-extension">Connect to Extension</option>
                        <option value="3" data-model-id="#vr-model-ring-group">Connect to Ring Group</option>
                        <option value="4" data-model-id="#vr-model-call-queue">Connect to Queue</option>
                        <option value="5" data-model-id="#vr-model-virtual-receptionist">Connect to Virtual receptionist</option>
                        <option value="6" data-model-id="#">Transefer to Voice Mail</option>
                        <option value="7" data-model-id="#">Repeat Prompt</option>
                      </select>
                    </div>
                    <div class="col-sm-5">
                      <div class="input-group input-group-file" id="key8-value-box" name="model-1" >
                        <input type="text" class="form-control" readonly="" id="vr-key8-value" data-mark="default" />
                        <span class="input-group-btn" data-target="#" data-toggle="modal">
                          <span class="btn btn-outline btn-file">
                            <i class="icon wb-search" aria-hidden="true"></i>
                          </span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group my-form-group">
                  <label class="col-sm-1 control-label"></label>

                  <div class="col-sm-10 padding-left-0">
                    <div class="col-sm-2 ">
                      <label class="col-sm-12 control-label">
                        9
                      </label>
                    </div>
                    <div class="col-sm-5 ">
                      <select class="bs-select-hidden" data-role="select" data-value-id="key9-value-box" id="vr-key9"
                              data-mark="default" >
                        <option value="1" data-model-id="#">End Call</option>
                        <option value="2" data-model-id="#vr-model-extension">Connect to Extension</option>
                        <option value="3" data-model-id="#vr-model-ring-group">Connect to Ring Group</option>
                        <option value="4" data-model-id="#vr-model-call-queue">Connect to Queue</option>
                        <option value="5" data-model-id="#vr-model-virtual-receptionist">Connect to Virtual receptionist</option>
                        <option value="6" data-model-id="#">Transefer to Voice Mail</option>
                        <option value="7" data-model-id="#">Repeat Prompt</option>
                      </select>
                    </div>
                    <div class="col-sm-5">
                      <div class="input-group input-group-file" id="key9-value-box" name="model-1" >
                        <input type="text" class="form-control" readonly="" id="vr-key9-value" data-mark="default" />
                        <span class="input-group-btn" data-target="#" data-toggle="modal">
                          <span class="btn btn-outline btn-file">
                            <i class="icon wb-search" aria-hidden="true"></i>
                          </span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group my-form-group">
                  <label class="col-sm-1 control-label"></label>

                  <div class="col-sm-10 padding-left-0">
                    <div class="col-sm-2 ">
                      <label class="col-sm-12 control-label">Timeout(s)</label>
                    </div>
                    <div class="col-sm-5 ">
                      <div class="col-sm-5 padding-0 padding-right-5">
                        <input type="text" class="form-control" placeholder="Timeout" autocomplete="off"
                               id="vr-timeout-number" data-mark="default" />
                      </div>
                      <div class="col-sm-7 padding-0">
                        <select class="bs-select-hidden" data-role="select" data-value-id="vr-timeout-value-box" id="vr-timeout"
                                data-mark="default" >
                          <option value="1" data-model-id="#">End Call</option>
                          <option value="2" data-model-id="#vr-model-extension">Connect to Extension</option>
                          <option value="3" data-model-id="#vr-model-ring-group">Connect to Ring Group</option>
                          <option value="4" data-model-id="#vr-model-call-queue">Connect to Queue</option>
                          <option value="5" data-model-id="#vr-model-virtual-receptionist">Connect to Virtual receptionist</option>
                          <option value="6" data-model-id="#">Transefer to Voice Mail</option>
                          <option value="7" data-model-id="#">Repeat Prompt</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="input-group input-group-file" id="vr-timeout-value-box" name="model-1" >
                        <input type="text" class="form-control" readonly="" id="vr-timeout-value" data-mark="default" />
                        <span class="input-group-btn" data-target="#" data-toggle="modal">
                          <span class="btn btn-outline btn-file">
                            <i class="icon wb-search" aria-hidden="true"></i>
                          </span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="form-group my-form-group margin-top-30">
                  <div class="col-sm-8 col-sm-offset-4">
                    <button type="button" class="btn btn-default btn-primary btn-outline"
                            data-return="vr">
                      Cancel
                    </button>
                    <button type="reset" class="btn btn-default btn-outline btn-primary">
                      Reset
                    </button>
                    <button type="button" class="btn btn-default btn-outline btn-primary" id="vr-apply">
                      Apply
                    </button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-5">
      </div>
    </div>

  </div>
</div>
<!-- End Page -->