<div class="page animsition">

    <div class="page-header">
        <ol class="breadcrumb">
            <li><a href="javascript:void(0)" data-return="ex">Extensions</a></li>
            <li class="active">Add Domain</li>
        </ol>
        <h1 class="page-title">
            Add Transport
        </h1>

    </div>
    <div class="page-content">
        <div class="panel">
            <div class="panel-body container-fluid">
                <form class="form-horizontal" name="form-transports-add">
                    <div class="col-lg-9">
                        <div class="example-wrap">
                            <div class="nav-tabs-horizontal">
                                <ul class="nav nav-tabs" data-plugin="nav-tabs" role="tablist">
                                    <li class="active" role="presentation">
                                        <a data-toggle="tab" href="#exampleTabsOne"
                                           aria-controls="exampleTabsOne" role="tab">General</a>
                                    </li>
                                    <li role="presentation" style="display: block;">
                                        <a data-toggle="tab" href="#exampleTabsTwo"
                                           aria-controls="exampleTabsTwo" role="tab">Voice
                                            Mail</a>
                                    </li>
                                    <li role="presentation" style="display: block;">
                                        <a data-toggle="tab" href="#exampleTabsThree"
                                           aria-controls="exampleTabsThree" role="tab">Forwarding
                                            Rules</a>
                                    </li>
                                </ul>
                                <div class="tab-content padding-top-10">
                                    <% include addExtensionGeneral.html %>
                                    <% include addExtensionVoiceMail.html %>
                                    <% include addExtensionForwardingRules.html %>
                                </div>
                            </div>
                            <div class="example-wrap">
                                <div class="col-lg-7 col-sm-offset-5">
                                    <button type="button" class="btn btn-default btn-outline" data-return="ex">
                                        Cancel
                                    </button>
                                    <button type="reset" class="btn btn-default btn-outline">
                                        Reset
                                    </button>
                                    <button type="button" class="btn btn-default btn-outline">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


