<div class="tab-pane" id="exampleTabsThree" role="tabpanel">
    <!-- General BEGIN  -->
    <div class="example">
        <ul class="nav nav-tabs" data-plugin="nav-tabs" role="tablist">
            <li class="active" role="presentation">
                <a data-toggle="tab" href="#exampleTabsFour"
                   aria-controls="exampleTabsOne" role="tab">Available</a>
            </li>
            <li role="presentation" style="display: block;">
                <a data-toggle="tab" href="#exampleTabsFive"
                   aria-controls="exampleTabsTwo" role="tab">Offline</a>
            </li>
        </ul>

        <div class="tab-content padding-top-10">
            <% include addExtensionAvailable.html %>
            <% include addExtensionOffline.html %>
        </div>
    </div>
    <!-- END  -->
</div>