<div class="tab-pane" id="tabAdvanced" role="tabpanel">
    <!-- General BEGIN  -->


    <h5 class="margin-top-10">
        Trusted IP Addresses
    </h5>

    <p>
        This is the list of the IP Address/Domain that will be allowed to used as a whitelist to allow  gateways and other trusted servers, clients to skip authentication.
    </p>

    <div class="form-group my-form-group">

        <div class="col-sm-6">
            <div class="row">
                <label class="col-sm-5 control-label">IP or Domain: </label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" placeholder="" autocomplete="off">
                </div>
            </div>
            <div class="row ">
                <label class="col-sm-5 control-label"></label>
                <div class="col-sm-7 text-center padding-top-20">
                    <button type="button" class="btn btn-default btn-primary btn-outline">
                        Delete
                    </button>
                    <button type="reset" class="btn btn-default btn-outline btn-primary">
                        add
                    </button>
                </div>
            </div>

        </div>
        <div class="col-sm-6">
            <textarea class="form-control" id="textareaDefault" rows="4"></textarea>
        </div>



    </div>

    <!-- END  -->
</div>