<div class="tab-pane" id="tabAdminCredentials" role="tabpanel">
    <!-- General BEGIN  -->


    <h5 class="margin-top-10">
        Admin Credential
    </h5>

    <p>
        You can change the password needed to logon to the PortSIP PBX's Management console here.
    </p>

    <div class="form-group my-form-group">
        <label class="col-sm-5 control-label">Administrator Username</label>

        <div class="col-sm-7 padding-left-0">
            <div class="col-sm-8">
                <input type="password" class="form-control" placeholder="Administrator Username" autocomplete="off">
            </div>
        </div>
    </div>

    <div class="form-group my-form-group">
        <label class="col-sm-5 control-label">Currently Password</label>

        <div class="col-sm-7 padding-left-0">
            <div class="col-sm-8">
                <input type="password" class="form-control" placeholder="Currently Password" autocomplete="off">
            </div>
        </div>
    </div>

    <div class="form-group my-form-group">
        <label class="col-sm-5 control-label">New Password</label>

        <div class="col-sm-7 padding-left-0">
            <div class="col-sm-8">
                <input type="password" class="form-control" placeholder="New Password" autocomplete="off">
            </div>
        </div>
    </div>

    <div class="form-group my-form-group">
        <label class="col-sm-5 control-label">Confirm New Password</label>

        <div class="col-sm-7 padding-left-0">
            <div class="col-sm-8">
                <input type="password" class="form-control" placeholder="Confirm New Password" autocomplete="off">
            </div>
        </div>
    </div>

    <div class="form-group my-form-group margin-top-20">
        <div class="col-sm-8 col-sm-offset-4">
            <button type="button" class="btn btn-default btn-primary btn-outline" data-return="st">
                Cancel
            </button>
            <button type="reset" class="btn btn-default btn-outline btn-primary">
                Reset
            </button>
            <button type="button" class="btn btn-default btn-outline btn-primary">
                Apply
            </button>
        </div>
    </div>

    <!-- END  -->
</div>