<div class="tab-pane active" id="tabGeneral" role="tabpanel">
    <!-- General BEGIN  -->


    <h5 class="margin-top-10">
        General
    </h5>

    <div class="form-group my-form-group">
        <label class="col-sm-5 control-label">Enable Sip Message Logging</label>

        <div class="col-sm-7 padding-left-0">
            <div class="col-sm-8">
                <div class="checkbox-custom checkbox-default">
                    <input type="checkbox">
                    <label></label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group my-form-group">
        <label class="col-sm-5 control-label">Enable IPv6</label>

        <div class="col-sm-7 padding-left-0">
            <div class="col-sm-8">
                <div class="checkbox-custom checkbox-default">
                    <input type="checkbox">
                    <label></label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group my-form-group">
        <label class="col-sm-5 control-label">Disable DIGEST challenges</label>

        <div class="col-sm-7 padding-left-0">
            <div class="col-sm-8">
                <div class="checkbox-custom checkbox-default">
                    <input type="checkbox">
                    <label></label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group my-form-group">
        <label class="col-sm-5 control-label">Disable auth-int DIGEST challenges</label>

        <div class="col-sm-7 padding-left-0">
            <div class="col-sm-8">
                <div class="checkbox-custom checkbox-default">
                    <input type="checkbox">
                    <label></label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group my-form-group">
        <label class="col-sm-5 control-label">Disable authentication of mid-dialog requests</label>

        <div class="col-sm-7 padding-left-0">
            <div class="col-sm-8">
                <div class="checkbox-custom checkbox-default">
                    <input type="checkbox">
                    <label></label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group my-form-group">
        <label class="col-sm-5 control-label">Send 403 if a client sends a bad nonce</label>

        <div class="col-sm-7 padding-left-0">
            <div class="col-sm-8">
                <div class="checkbox-custom checkbox-default">
                    <input type="checkbox">
                    <label></label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group my-form-group">
        <label class="col-sm-5 control-label">Allow To tag in registrations</label>

        <div class="col-sm-7 padding-left-0">
            <div class="col-sm-8">
                <div class="checkbox-custom checkbox-default">
                    <input type="checkbox">
                    <label></label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group my-form-group">
        <label class="col-sm-5 control-label">Statistics Log Interval</label>

        <div class="col-sm-7 padding-left-0">
            <div class="col-sm-8">
                <select class="bs-select-hidden" data-role="select">
                    <option value="1">ComboBox1</option>
                    <option value="2">ComboBox2</option>
                    <option value="3">ComboBox3</option>
                    <option value="4">ComboBox4</option>
                </select>
            </div>
            <div class="col-sm-3">
                <label class="col-sm-3 control-label">(seconds)</label>
            </div>
        </div>
    </div>
    <div class="form-group my-form-group">
        <label class="col-sm-5 control-label">Enable Congestion Management</label>

        <div class="col-sm-7 padding-left-0">
            <div class="col-sm-8">
                <div class="checkbox-custom checkbox-default">
                    <input type="checkbox">
                    <label></label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group my-form-group">
        <label class="col-sm-5 control-label">Congestion Management Metric</label>

        <div class="col-sm-7 padding-left-0">
            <div class="col-sm-8">
                <select class="bs-select-hidden" data-role="select">
                    <option value="1">ComboBox1</option>
                    <option value="2">ComboBox2</option>
                    <option value="3">ComboBox3</option>
                    <option value="4">ComboBox4</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group my-form-group">
        <label class="col-sm-5 control-label">Congestion Management Tolerance</label>

        <div class="col-sm-7 padding-left-0">
            <div class="col-sm-8">
                <select class="bs-select-hidden" data-role="select">
                    <option value="1">ComboBox1</option>
                    <option value="2">ComboBox2</option>
                    <option value="3">ComboBox3</option>
                    <option value="4">ComboBox4</option>
                </select>
            </div>
        </div>
    </div>


    <hr>
    <h5>Dead Session Detection</h5>

    <div class="form-group my-form-group">
        <label class="col-sm-7 control-label">Close the session if there no RTP packet received within</label>

        <div class="col-sm-2">
            <input type="text" class="form-control" autocomplete="off" value="3000">
        </div>
        <div class="col-sm-3">
            <label class="col-sm-3 control-label">(seconds)</label>
        </div>
    </div>
    <div class="form-group my-form-group">
        <label class="col-sm-5 control-label">Enable the session timer(RFC4028), this also requires the client support</label>

        <div class="col-sm-7 padding-left-0">
            <div class="col-sm-8 padding-top-10">
                <input type="text" class="form-control" placeholder="Primary DNS server" autocomplete="off">
            </div>
        </div>
    </div>
    <div class="form-group my-form-group">
        <label class="col-sm-5 control-label">Sesstion Timer Duration</label>

        <div class="col-sm-7 padding-left-0">
            <div class="col-sm-8">
                <select class="bs-select-hidden" data-role="select">
                    <option value="1">300</option>
                    <option value="2">301</option>
                    <option value="3">302</option>
                </select>
            </div>
            <div class="col-sm-3">
                <label class="col-sm-3 control-label">(seconds)</label>
            </div>
        </div>
    </div>

    <hr>
    <h5>Presence Mode</h5>
    <div class="form-group my-form-group">
        <label class="col-sm-5 control-label">Peer to Peer</label>

        <div class="col-sm-7 padding-left-0">
            <div class="col-sm-8">
                <div class="radio-custom radio-primary">
                    <input type="radio" name="office-hours" checked="">
                    <label></label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group my-form-group">
        <label class="col-sm-5 control-label">Presence Server (Require the client support PUBLISH)</label>

        <div class="col-sm-7 padding-left-0">
            <div class="col-sm-8 padding-top-10">
                <div class="radio-custom radio-primary">
                    <input type="radio" name="office-hours" checked="">
                    <label></label>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <h5>DNS Server</h5>
    <div class="form-group my-form-group">
        <label class="col-sm-5 control-label">Primary DNS server</label>

        <div class="col-sm-7 padding-left-0">
            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="Run As User" autocomplete="off">
            </div>
        </div>
    </div>
    <div class="form-group my-form-group">
        <label class="col-sm-5 control-label">Secondary DNS server</label>

        <div class="col-sm-7 padding-left-0">
            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="Secondary DNS server" autocomplete="off">
            </div>
        </div>
    </div>

    <hr>

    <div class="form-group my-form-group">
        <div class="col-sm-8 col-sm-offset-4">
            <button type="button" class="btn btn-default btn-primary btn-outline" data-return="st">
                Cancel
            </button>
            <button type="reset" class="btn btn-default btn-outline btn-primary">
                Reset
            </button>
            <button type="button" class="btn btn-default btn-outline btn-primary">
                Apply
            </button>
        </div>
    </div>




    <!-- END  -->
</div>