<div class="tab-pane" id="tabOfficeHours" role="tabpanel">
    <!-- General BEGIN  -->


    <h5 class="margin-top-10">
        Configure Office Hours
    </h5>

    <p>
        Specify your office hours calls can then be treated differently based on whether they are
        received during or out of office hours.
    </p>


    <div class="form-group my-form-group">
        <div class="col-sm-10 col-sm-offset-1">

            <div class="example table-responsive">

                <table class="table">
                    <thead>
                    <tr>
                        <td></td>
                        <td class="text-center">
                            From
                        </td>
                        <td class="text-center">
                            To
                        </td>
                        <td></td>
                        <td class="text-center">
                            Office Hours
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="col-sm-1">
                            <p class="control-label">
                                Monday
                            </p>
                        </td>
                        <td class="col-sm-2">
                            <div class="input-group">
                                <span class="input-group-addon padding-left-5 padding-right-5 hidden-xs">
                                  <i class="icon wb-time" aria-hidden="true"></i>
                                </span>
                                <input type="text"
                                       class="form-control datepair-time datepair-start ui-timepicker-input padding-0"
                                       data-role="timepicker" autocomplete="off">
                            </div>
                        </td>
                        <td class="col-sm-2">
                            <div class="input-group">
                                <span class="input-group-addon padding-left-5 padding-right-5 hidden-xs">
                                  <i class="icon wb-time" aria-hidden="true"></i>
                                </span>
                                <input type="text"
                                       class="form-control datepair-time datepair-start ui-timepicker-input padding-0"
                                       data-role="timepicker" autocomplete="off">
                            </div>
                        </td>
                        <td class="col-sm-2 col-xs-2 text-center">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-icon btn-default btn-outline">
                                    <i class="icon wb-chevron-left-mini" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-icon btn-default btn-outline">
                                    <i class="icon wb-chevron-right-mini" aria-hidden="true"></i>
                                </button>
                            </div>
                        </td>
                        <td class="col-sm-5">
                            <input type="text" class="form-control" placeholder="" autocomplete="off">
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-1">
                            <p class="control-label">
                                Tuesday
                            </p>
                        </td>
                        <td class="col-sm-2 margin-0">
                            <div class="input-group">
                                <span class="input-group-addon padding-left-5 padding-right-5 hidden-xs">
                                  <i class="icon wb-time" aria-hidden="true"></i>
                                </span>
                                <input type="text"
                                       class="form-control datepair-time datepair-start ui-timepicker-input padding-0"
                                       data-role="timepicker" autocomplete="off">
                            </div>
                        </td>
                        <td class="col-sm-2">
                            <div class="input-group">
                                <span class="input-group-addon padding-left-5 padding-right-5 hidden-xs">
                                  <i class="icon wb-time" aria-hidden="true"></i>
                                </span>
                                <input type="text"
                                       class="form-control datepair-time datepair-start ui-timepicker-input padding-0"
                                       data-role="timepicker" autocomplete="off">
                            </div>
                        </td>
                        <td class="col-sm-2 col-xs-2 text-center">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-icon btn-default btn-outline">
                                    <i class="icon wb-chevron-left-mini" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-icon btn-default btn-outline">
                                    <i class="icon wb-chevron-right-mini" aria-hidden="true"></i>
                                </button>
                            </div>
                        </td>
                        <td class="col-sm-5">
                            <input type="text" class="form-control" placeholder="" autocomplete="off">
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-1">
                            <p class="control-label">
                                Wednesday
                            </p>
                        </td>
                        <td class="col-sm-2 margin-0">
                            <div class="input-group">
                                <span class="input-group-addon padding-left-5 padding-right-5 hidden-xs">
                                  <i class="icon wb-time" aria-hidden="true"></i>
                                </span>
                                <input type="text"
                                       class="form-control datepair-time datepair-start ui-timepicker-input padding-0"
                                       data-role="timepicker" autocomplete="off">
                            </div>
                        </td>
                        <td class="col-sm-2">
                            <div class="input-group">
                                <span class="input-group-addon padding-left-5 padding-right-5 hidden-xs">
                                  <i class="icon wb-time" aria-hidden="true"></i>
                                </span>
                                <input type="text"
                                       class="form-control datepair-time datepair-start ui-timepicker-input padding-0"
                                       data-role="timepicker" autocomplete="off">
                            </div>
                        </td>
                        <td class="col-sm-2 col-xs-2 text-center">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-icon btn-default btn-outline">
                                    <i class="icon wb-chevron-left-mini" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-icon btn-default btn-outline">
                                    <i class="icon wb-chevron-right-mini" aria-hidden="true"></i>
                                </button>
                            </div>
                        </td>
                        <td class="col-sm-5">
                            <input type="text" class="form-control" placeholder="" autocomplete="off">
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-1">
                            <p class="control-label">
                                Thursday
                            </p>
                        </td>
                        <td class="col-sm-2 margin-0">
                            <div class="input-group">
                                <span class="input-group-addon padding-left-5 padding-right-5 hidden-xs">
                                  <i class="icon wb-time" aria-hidden="true"></i>
                                </span>
                                <input type="text"
                                       class="form-control datepair-time datepair-start ui-timepicker-input padding-0"
                                       data-role="timepicker" autocomplete="off">
                            </div>
                        </td>
                        <td class="col-sm-2">
                            <div class="input-group">
                                <span class="input-group-addon padding-left-5 padding-right-5 hidden-xs">
                                  <i class="icon wb-time" aria-hidden="true"></i>
                                </span>
                                <input type="text"
                                       class="form-control datepair-time datepair-start ui-timepicker-input padding-0"
                                       data-role="timepicker" autocomplete="off">
                            </div>
                        </td>
                        <td class="col-sm-2 col-xs-2 text-center">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-icon btn-default btn-outline">
                                    <i class="icon wb-chevron-left-mini" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-icon btn-default btn-outline">
                                    <i class="icon wb-chevron-right-mini" aria-hidden="true"></i>
                                </button>
                            </div>
                        </td>
                        <td class="col-sm-5">
                            <input type="text" class="form-control" placeholder="" autocomplete="off">
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-1">
                            <p class="control-label">
                                Friday
                            </p>
                        </td>
                        <td class="col-sm-2 margin-0">
                            <div class="input-group">
                                <span class="input-group-addon padding-left-5 padding-right-5 hidden-xs">
                                  <i class="icon wb-time" aria-hidden="true"></i>
                                </span>
                                <input type="text"
                                       class="form-control datepair-time datepair-start ui-timepicker-input padding-0"
                                       data-role="timepicker" autocomplete="off">
                            </div>
                        </td>
                        <td class="col-sm-2">
                            <div class="input-group">
                                <span class="input-group-addon padding-left-5 padding-right-5 hidden-xs">
                                  <i class="icon wb-time" aria-hidden="true"></i>
                                </span>
                                <input type="text"
                                       class="form-control datepair-time datepair-start ui-timepicker-input padding-0"
                                       data-role="timepicker" autocomplete="off">
                            </div>
                        </td>
                        <td class="col-sm-2 col-xs-2 text-center">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-icon btn-default btn-outline">
                                    <i class="icon wb-chevron-left-mini" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-icon btn-default btn-outline">
                                    <i class="icon wb-chevron-right-mini" aria-hidden="true"></i>
                                </button>
                            </div>
                        </td>
                        <td class="col-sm-5">
                            <input type="text" class="form-control" placeholder="" autocomplete="off">
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-1">
                            <p class="control-label">
                                Saturday
                            </p>
                        </td>
                        <td class="col-sm-2 margin-0">
                            <div class="input-group">
                                <span class="input-group-addon padding-left-5 padding-right-5 hidden-xs">
                                  <i class="icon wb-time" aria-hidden="true"></i>
                                </span>
                                <input type="text"
                                       class="form-control datepair-time datepair-start ui-timepicker-input padding-0"
                                       data-role="timepicker" autocomplete="off">
                            </div>
                        </td>
                        <td class="col-sm-2">
                            <div class="input-group">
                                <span class="input-group-addon padding-left-5 padding-right-5 hidden-xs">
                                  <i class="icon wb-time" aria-hidden="true"></i>
                                </span>
                                <input type="text"
                                       class="form-control datepair-time datepair-start ui-timepicker-input padding-0"
                                       data-role="timepicker" autocomplete="off">
                            </div>
                        </td>
                        <td class="col-sm-2 col-xs-2 text-center">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-icon btn-default btn-outline">
                                    <i class="icon wb-chevron-left-mini" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-icon btn-default btn-outline">
                                    <i class="icon wb-chevron-right-mini" aria-hidden="true"></i>
                                </button>
                            </div>
                        </td>
                        <td class="col-sm-5">
                            <input type="text" class="form-control" placeholder="" autocomplete="off">
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-1">
                            <p class="control-label">
                                Sunday
                            </p>
                        </td>
                        <td class="col-sm-2">
                            <div class="input-group">
                                <span class="input-group-addon padding-left-5 padding-right-5 hidden-xs">
                                  <i class="icon wb-time" aria-hidden="true"></i>
                                </span>
                                <input type="text"
                                       class="form-control datepair-time datepair-start ui-timepicker-input padding-0"
                                       data-role="timepicker" autocomplete="off">
                            </div>
                        </td>
                        <td class="col-sm-2">
                            <div class="input-group">
                                <span class="input-group-addon padding-left-5 padding-right-5 hidden-xs">
                                  <i class="icon wb-time" aria-hidden="true"></i>
                                </span>
                                <input type="text"
                                       class="form-control datepair-time datepair-start ui-timepicker-input padding-0"
                                       data-role="timepicker" autocomplete="off">
                            </div>
                        </td>
                        <td class="col-sm-2 col-xs-2 text-center">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-icon btn-default btn-outline">
                                    <i class="icon wb-chevron-left-mini" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-icon btn-default btn-outline">
                                    <i class="icon wb-chevron-right-mini" aria-hidden="true"></i>
                                </button>
                            </div>
                        </td>
                        <td class="col-sm-5">
                            <input type="text" class="form-control" placeholder="" autocomplete="off">
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>

        </div>

    </div>

    <div class="form-group my-form-group">
        <div class="col-sm-8 col-sm-offset-4">
            <button type="button" class="btn btn-default btn-primary btn-outline" data-return="st">
                Cancel
            </button>
            <button type="reset" class="btn btn-default btn-outline btn-primary">
                Reset
            </button>
            <button type="button" class="btn btn-default btn-outline btn-primary">
                Apply
            </button>
        </div>
    </div>

    <!-- END  -->
</div>