<div class="tab-pane" id="tabQuota" role="tabpanel">
    <!-- General BEGIN  -->


    <h5 class="margin-top-10">
        Current quota status
    </h5>

    <div class="form-group my-form-group">
        <div class="col-sm-12">
            <div class="col-sm-6">
                <label class="col-sm-6 control-label">Quota for Recordings:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="Unlimited" autocomplete="off">
                </div>
                <label class="col-sm-2 control-label">MB</label>
            </div>
            <div class="col-sm-5">
                <label class="col-sm-5 control-label">Used quota:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" placeholder="Unlimited" autocomplete="off">
                </div>
                <label class="col-sm-2 control-label">MB</label>
            </div>
        </div>
        <div class="col-sm-12 margin-top-5">
            <div class="col-sm-6">
                <label class="col-sm-6 control-label">Quota for VoiceMails:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="Unlimited" autocomplete="off">
                </div>
                <label class="col-sm-2 control-label">MB</label>
            </div>
            <div class="col-sm-5">
                <label class="col-sm-5 control-label">Used quota:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" placeholder="Unlimited" autocomplete="off">
                </div>
                <label class="col-sm-2 control-label">MB</label>
            </div>
        </div>
    </div>

    <h5>Auto cleaning</h5>
    <div class="form-group my-form-group">
        <div class="col-sm-1 col-sm-offset-1" style="text-align: right;">
            <div class="checkbox-custom checkbox-default">
                <input type="checkbox">
                <label></label>
            </div>
        </div>
        <label class="col-sm-5 control-label">Automatically delete all recordings older than</label>
        <div class="col-sm-5 padding-left-0">
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Unlimited" autocomplete="off">
            </div>
            <label class="col-sm-2 control-label">days</label>
        </div>
    </div>
    <div class="form-group my-form-group">
        <div class="col-sm-1 col-sm-offset-1" style="text-align: right;">
            <div class="checkbox-custom checkbox-default">
                <input type="checkbox">
                <label></label>
            </div>
        </div>
        <label class="col-sm-5 control-label">Automatically delete all VoiceMails older than</label>
        <div class="col-sm-5 padding-left-0">
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Unlimited" autocomplete="off">
            </div>
            <label class="col-sm-2 control-label">days</label>
        </div>
    </div>
    <div class="form-group my-form-group">
        <div class="col-sm-1 col-sm-offset-1" style="text-align: right;">
            <div class="checkbox-custom checkbox-default">
                <input type="checkbox">
                <label></label>
            </div>
        </div>
        <label class="col-sm-5 control-label">Automatically delete all log files older than</label>
        <div class="col-sm-5 padding-left-0">
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Unlimited" autocomplete="off">
            </div>
            <label class="col-sm-2 control-label">days</label>
        </div>
    </div>

    <hr>

    <div class="form-group my-form-group">
        <div class="col-sm-8 col-sm-offset-4">
            <button type="button" class="btn btn-default btn-primary btn-outline" data-return="st">
                Cancel
            </button>
            <button type="reset" class="btn btn-default btn-outline btn-primary">
                Reset
            </button>
            <button type="button" class="btn btn-default btn-outline btn-primary">
                Apply
            </button>
        </div>
    </div>




    <!-- END  -->
</div>