.modal.fade .my-modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition:      -o-transform .3s ease-out;
    transition:         transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
}
.modal.in .my-modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.my-modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
@media (min-width: 768px) {
    .my-modal-dialog {
        width: 1000px;
        margin: 30px auto;
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }
    .modal-sm {
        width: 300px;
    }
}

/* 解决内容box高度问题 */
.my-page {
    position: relative;
    min-height: -webkit-calc(100% - 44px);
    min-height:         calc(100% - 44px);
    background: #f1f4f5;
}

/* 为实现左侧菜单底部不预留空间 */
.my-site-menubar-body {
    height: 100%;
    /*height: -webkit-calc(100% - 76px);*/
    /*height:         calc(100% - 76px);*/
    height: -webkit-calc(100% - 0px);
    height:         calc(100% - 0px);
}
.css-menubar.site-menubar-native .my-site-menubar-body {
    overflow-y: scroll;
}
.site-menubar-unfold.site-menubar-native .my-site-menubar-body {
    overflow-y: scroll;
}
/* END */