<!-- Page -->
<div class="page animsition">

    <div class="page-header">
        <h1 class="page-title">
            groupManagement
        </h1>
    </div>
    <div class="page-content">
        <!-- Panel -->
        <div class="panel">
            <div class="panel-body">
                <!-- Example Responsive -->
                <div class="example-wrap">

                    <div class="btn-group hidden-xs" aria-label="Button group with nested dropdown" role="group">

                        <button type="button" class="btn btn-outline btn-default" id="btn-add-group">
                            Add Group
                        </button>
                        <button type="button" class="btn btn-outline btn-default">Import Group</button>
                        <button type="button" class="btn btn-outline btn-default">Export Group</button>
                    </div>
                    <div class="btn-group hidden-sm hidden-lg hidden-md" role="group">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-outline btn-default dropdown-toggle"
                                    data-toggle="dropdown" aria-expanded="false">
                                Menu
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="exampleGroupDrop2" role="menu">
                                <li role="presentation"><a href="javascript:void(0)" role="menuitem">Add Extension</a>
                                </li>
                                <li role="presentation"><a href="javascript:void(0)" role="menuitem">Import
                                    Extension</a></li>
                                <li role="presentation"><a href="javascript:void(0)" role="menuitem">Import
                                    Extension</a></li>
                            </ul>
                        </div>
                    </div>

                    <!--
                    <h4 class="example-title">Basic</h4>
                    -->
                    <!-- Table -->
                    <div class="example table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Group Name</th>
                                <th>Member numbers</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>

                            <% if(groupData && groupData.groups) { %>

                            <% groupData.groups.forEach(function(data,key) { %>

                            <tr>
                                <td><%=(key+1) %></td>
                                <td><%=data.group_name %></td>
                                <td><%=data.members_count %></td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-icon btn-flat btn-default"
                                            data-toggle="tooltip" data-original-title="Edit"
                                            data-egm-id="<%=data.group_id%>" name="egm-update-btn">
                                        <i class="icon wb-wrench" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-icon btn-flat btn-default"
                                            data-toggle="tooltip" data-original-title="Delete"
                                            data-egm-id="<%=data.group_id%>" name="egm-delete-btn">
                                        <i class="icon wb-close" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>

                            <% });%>
                            <% } %>



                            </tbody>
                            <tfoot>
                            <%
                            var colsPanNumber = 4;

                            var page_count = 1;    //总页数
                            var page_current = 1;   //当前页
                            var page_start = 1;     //起始页
                            var page_sum = 5;       //显示总页
                            if((page_current+5-1) < page_count) {
                            page_sum = page_sum+page_current-1;
                            page_start = page_current;
                            }else{
                            page_sum = page_count;
                            if(page_count>5){
                            page_start = page_count - 5;
                            }else{
                            page_start = page_count;
                            }
                            }

                            %>


                            <% include ../../../page.html%>
                            </tfoot>
                        </table>

                    </div>
                    <!-- End Table -->


                </div>
                <!-- End Example Responsive -->
            </div>
        </div>
        <!-- End Panel -->
    </div>
</div>
<!-- End Page -->