<div class="site-menubar site-menubar-light" id="menu-box">
    <div class="site-menubar-body my-site-menubar-body">
        <div>
            <div>
                <ul class="site-menu">
                    <li class="site-menu-category">Main</li>
                    <li class="site-menu-item has-sub" data-role="menu" data-menu="h">
                        <a href="javascript:void(0)" data-slug="dashboard">
                            <i class="site-menu-icon wb-home" aria-hidden="true"></i>
                            <span class="site-menu-title">Home</span>

                        </a>

                    </li>
                    <li class="site-menu-item has-sub" data-role="menu" data-menu="cmi">
                        <a href="javascript:void(0)" data-slug="layout">
                            <i class="site-menu-icon wb-layout" aria-hidden="true"></i>
                            <span class="site-menu-title">Call Manager</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">
                            <!--<li class="site-menu-item" data-role="menu" data-menu="cmi">-->
                                <!--<a class="animsition-link" href="javascript:void(0)"-->
                                   <!--data-slug="layout-menu-collapsed">-->
                                    <!--<i class="site-menu-icon " aria-hidden="true"></i>-->
                                    <!--<span class="site-menu-title">Call Manager Information</span>-->
                                <!--</a>-->
                            <!--</li>-->
                            <li class="site-menu-item" data-role="menu" data-menu="dat">
                                <a class="animsition-link" href="javascript:void(0)"
                                   data-slug="layout-menu-collapsed">
                                    <i class="site-menu-icon " aria-hidden="true"></i>
                                    <span class="site-menu-title">Domains and transports</span>
                                </a>
                            </li>
                            <li class="site-menu-item" data-role="menu" data-menu="ex">
                                <a class="animsition-link" href="javascript:void(0)"
                                   data-slug="layout-menu-expended">
                                    <i class="site-menu-icon " aria-hidden="true"></i>
                                    <span class="site-menu-title">Extensions</span>
                                </a>
                            </li>
                            <li class="site-menu-item" data-role="menu" data-menu="sex">
                                <a class="animsition-link" href="javascript:void(0)" data-slug="layout-grids">
                                    <i class="site-menu-icon " aria-hidden="true"></i>
                                    <span class="site-menu-title">System Extensions</span>
                                </a>
                            </li>
                            <li class="site-menu-item" data-role="menu" data-menu="vpt">
                                <a class="animsition-link" href="javascript:void(0)" data-slug="layout-headers">
                                    <i class="site-menu-icon " aria-hidden="true"></i>
                                    <span class="site-menu-title">VoIP Providers/Trunks</span>
                                </a>
                            </li>
                            <li class="site-menu-item" data-role="menu" data-menu="ir">
                                <a class="animsition-link" href="javascript:void(0)"
                                   data-slug="layout-panel-transition">
                                    <i class="site-menu-icon " aria-hidden="true"></i>
                                    <span class="site-menu-title">Inbound Rules</span>
                                </a>
                            </li>
                            <li class="site-menu-item" data-role="menu" data-menu="or">
                                <a class="animsition-link" href="javascript:void(0)"
                                   data-slug="layout-boxed">
                                    <i class="site-menu-icon " aria-hidden="true"></i>
                                    <span class="site-menu-title">Outbound Rules</span>
                                </a>
                            </li>
                            <li class="site-menu-item" data-role="menu" data-menu="rg">
                                <a class="animsition-link" href="javascript:void(0)"
                                   data-slug="layout-two-columns">
                                    <i class="site-menu-icon " aria-hidden="true"></i>
                                    <span class="site-menu-title">Ring Groups</span>
                                </a>
                            </li>
                            <li class="site-menu-item" data-role="menu" data-menu="cs">
                                <a class="animsition-link" href="javascript:void(0)"
                                   data-slug="layout-menubar-flipped">
                                    <i class="site-menu-icon " aria-hidden="true"></i>
                                    <span class="site-menu-title">Call Sessions</span>
                                </a>
                            </li>
                            <li class="site-menu-item" data-role="menu" data-menu="ch">
                                <a class="animsition-link" href="javascript:void(0)"
                                   data-slug="layout-menubar-native-scrolling">
                                    <i class="site-menu-icon " aria-hidden="true"></i>
                                    <span class="site-menu-title">Call History</span>
                                </a>
                            </li>

                        </ul>
                    </li>

                    <li class="site-menu-item has-sub" data-role="menu" data-menu="ms">
                        <a href="javascript:void(0)" data-slug="dashboard">
                            <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
                            <span class="site-menu-title">Media Server</span>
                        </a>
                    </li>
                    <li class="site-menu-item has-sub" data-role="menu" data-menu="cse">
                        <a href="javascript:void(0)" data-slug="dashboard">
                            <i class="site-menu-icon wb-desktop" aria-hidden="true"></i>
                            <span class="site-menu-title">Conference Server</span>
                        </a>
                    </li>
                    <li class="site-menu-item has-sub" data-role="menu" data-menu="dr">
                        <a href="javascript:void(0)" data-slug="dashboard">
                            <i class="site-menu-icon wb-payment" aria-hidden="true"></i>
                            <span class="site-menu-title">Digital Receptionist</span>
                        </a>
                    </li>
                    <li class="site-menu-item has-sub" data-role="menu" data-menu="st">
                        <a href="javascript:void(0)" data-slug="dashboard">
                            <i class="site-menu-icon wb-stats-bars" aria-hidden="true"></i>
                            <span class="site-menu-title">Settings</span>
                        </a>
                    </li>
                    <li class="site-menu-item has-sub" data-role="menu" data-menu="cmi">
                        <a href="javascript:void(0)" data-slug="dashboard">
                            <i class="site-menu-icon wb-help" aria-hidden="true"></i>
                            <span class="site-menu-title">Help</span>
                        </a>
                    </li>


                    <li class="site-menu-category">API</li>
                    <li class="site-menu-item" data-role="menu" data-menu="api">
                        <a class="animsition-link" data-slug="angular" id="menu-api-a">
                            <!--<i class="site-menu-icon wb-pie-chart" aria-hidden="true"></i>-->
                            <i class="site-menu-icon wb-hammer" aria-hidden="true"></i>
                            <span class="site-menu-title">API</span>

                            <div class="site-menu-label">
                                <span class="label label-danger label-round">new</span>
                            </div>
                        </a>
                    </li>
                </ul>

                <div class="site-menubar-section">
                    <h5>
                        Milestone
                        <span class="pull-right">30%</span>
                    </h5>

                    <div class="progress progress-xs">
                        <div class="progress-bar active" style="width: 30%;" role="progressbar"></div>
                    </div>
                    <h5>
                        Release
                        <span class="pull-right">60%</span>
                    </h5>

                    <div class="progress progress-xs">
                        <div class="progress-bar progress-bar-warning" style="width: 60%;" role="progressbar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--
<div class="site-menubar-footer">
    <a href="javascript: void(0);" class="fold-show" data-placement="top" data-toggle="tooltip"
       data-original-title="Settings">
        <span class="icon wb-settings" aria-hidden="true"></span>
    </a>
    <a href="javascript: void(0);" data-placement="top" data-toggle="tooltip" data-original-title="Lock">
        <span class="icon wb-eye-close" aria-hidden="true"></span>
    </a>
    <a href="javascript: void(0);" data-placement="top" data-toggle="tooltip" data-original-title="Logout">
        <span class="icon wb-power" aria-hidden="true"></span>
    </a>

    </div>
    -->
</div>